@using H5Forms.Dtos.Form
@using H5Forms.Dtos.Form.Controls
@using H5Forms.MvcWebApp.Areas.HelpPage
@model H5Forms.Dtos.Form.Form

@{
    ViewBag.Title = "Test";
}

<div class="@string.Format("form labelLayout{0}", Model.LabelLayoutType)">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        Html.RenderPartial("ValidationSummary", @ViewData.ModelState);
        
        

        @Html.Hidden(FormSettings.FORM_ID_NAME, Model.Id)
        ;
        <div class="title">
            <h1>@Model.Title</h1>
        </div>
        <div class="controls">
            @foreach (var control in Model.Controls)
            {
               @Html.Partial(string.Format(@"~\Views\Shared\Partials\{0}.cshtml", Enum.GetName(typeof(ControlType), control.ControlType)), control)
            }
        </div>
    <div class="submit">
        <input type="submit" class="btn btn-primary btn-lg" value="Save" />
    </div>
    }
</div>
