@{
    ViewBag.Title = "Forms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="formBuilder" ng-app="h5Forms.formBuilder">
    @RenderPage(Url.Content("~/Views/Forms/Bundle.cshtml"))
    <div class="container" ng-controller="formBuilderCtrl">
        <div class="row">
            <div class="col-md-3">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Controls</h3>
                    </div>
                    <div class="panel-body" ng-repeat="controlType in controlTypes">                      
                        <button class="btn btn-default btn-lg btn-block" ng-click="addControl(controlType)">{{controlType}}</button>                        
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <tabs>
                    <pane title="Preview">
                        <div>Preview!</div>
                    </pane>
                    <pane title="Designer" selected = "true">
                        <form-view title="form.title" mode="design">
                            <control ng-repeat="control in form.controls"></control>
                        </form-view>
                    </pane>                   
                </tabs>  
            </div>
            <div class="col-md-3">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h3 class="panel-title">Control Properties</h3>
                    </div>
                    <div class="panel-body">
                        <div ng-include="'Forms/ControlProperties/ControlProperties.cshtml'"></div>  
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/angularJs/angular-v1.2.2.min.js")"> </script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/app/formBuilder/formBuilderModule.js")"> </script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/app/formBuilder/formBuilderCtrl.js")"> </script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/app/formBuilder/formService.js")"> </script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/app/formBuilder/formViewDirective.js")"> </script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/app/shared/tabsDirective.js")"> </script>
}
