@{
    ViewBag.Title = "Form admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="formBuilder" ng-app="h5Forms.formBuilder">
    @RenderPage(Url.Content("~/Views/Forms/Bundle.cshtml"))
    <div ng-view></div>
</div>

@section scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/angularJs/angular-v1.2.2.min.js")"> </script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/angularJs/angular-route.min.js")"> </script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/app/formBuilder/formBuilderModule.js")"> </script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/app/formBuilder/formListCtrl.js")"> </script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/app/formBuilder/formBuilderCtrl.js")"> </script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/app/formBuilder/formService.js")"> </script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/app/formBuilder/formViewDirective.js")"> </script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/app/shared/tabsDirective.js")"> </script>
}
