@using H5Forms.Dtos.Form
@using H5Forms.Dtos.Form.ValidationRules
@model H5Forms.Dtos.Form.Controls.CheckList
@{
    Layout = null;
}
<div>
    @Html.Label(Model.ColumnName, Model.Label)   
    <div>        
       <ul  title = "@Model.HoverTitle">

                @foreach (var option in Model.Options)
            {
                <li class="@Model.OptionLayoutType">
                    @if (!string.IsNullOrEmpty(Model.Value) && Model.Value.Split(new[] {FormSettings.SELECTED_VALUES_SEPARATOR}).Any(v => string.Equals(v, option.Id.ToString())))
                    {
                        <input type="checkbox" name="@Model.ColumnName" id="@Model.ColumnName"  value="@option.Id" checked="checked"/>
                    }
                    else
                    {
                        <input type="checkbox" name="@Model.ColumnName" id="@Model.ColumnName"  value="@option.Id" />
                    }
                                                              
                    @option.Value
                </li>                
            }          
        </ul>
        @if (Model.ValidationRules.Any(v => v.ValidationType == ValidationType.Required && ((Required)v).IsRequired))
        {
            <span class="required">*</span>
        }              
    </div>   
</div> 